@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.bar {
  flex: 1;
  background-color: #61dafb;
  color: #000;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  max-height: 70px;
}

.bar h1 {
  flex: 1;
  font-size: 16px;
  text-align: left;
}

.bar button {
  flex: 1;
  padding: 8px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border: 0px;
  max-width: 150px;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #000;
  }

  &:active {
    background-color: #ccc;
    color: #000;
  }

  & input::placeholder {
    color: red;
  }
}

.modal_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  min-height: 400px;
  background-color: aliceblue;
  padding: 40px;

  & h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 32px;
  }
}

.content {
  display: flex;
  flex-direction: column;

  height: 100%;

  input {
    width: 300px;
    margin: 0 auto;
  }
}

.input_container {
  display: flex;
  gap: 16px;
}

.modal_content {
  height: 250px;
  overflow-y: scroll;

  & > div {
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.text_input {
  height: 40px;
  padding-left: 8px;
  font-size: 14px;
}

.modal_submit {
  height: 40px;
  width: 120px;
  border-radius: 8px;
  border: solid 1px #ccc;
  background-color: #fff;

  &:active {
    background-color: #ccc;
  }

  &:hover {
    background-color: #e6e4e4;
  }
}

.input_wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  height: 30px;

  button {
    height: 100%;
    width: 120px;
    border-radius: 8px;
    border: solid 1px #ccc;
    background-color: #fff;

    &:active {
      background-color: #ccc;
    }

    &:hover {
      background-color: #e6e4e4;
    }
  }
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.filename {
  background: #fff;
  border: 0;
}

.file-upload {
  position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
  overflow: hidden; /* Все что выходит за пределы - скрываем */
  width: 150px; /* Задаем ширину кнопки выбора файла */ /* Задаем высоту кнопки выбора файла */
  background: #000;
  border-radius: 3px;
  padding: 8px 4px;
  color: #fff;
  text-align: center;
  margin-left: 8px;

  &:hover {
    background-color: #fff;
    color: #000;
  }

  &:active {
    background-color: #ccc;
    color: #000;
  }
}

.file-upload input[type="file"] {
  display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
  /* Растягиваем label на всю возможную площадь блока .file-upload */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.file-upload span {
  font-size: 12px;
  font-weight: bold;
  line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}
